{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
